
body, html {
  height: 100%;
}

.main_image {
  /* The image used */
  background-image: url("https://i.postimg.cc/d0gyXXdZ/sudent.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}


.navbar_properties{
  background-color: #282828;
  color: red;
}


.w3ncert_text{
  text-align : center;
  margin-top: 20px;
}

/* Container holding the image and the text */
.get_start{
  position: relative;
  text-align: center;
  color: white;
  margin-top: -250px;
}









.btnn{
  border: 2px solid #282828;
  border-radius: 50px;
  color: #282828;
  background-color: #ffffff;
  height: 40px;
  width: 170px;
  margin-bottom: 10px;
  font-weight: bold;
  outline: none;
}



.btnn:hover{
  color: #ffffff;
  background-color: #55ACEE;
  outline: none;
  
}


  /*A Community of Passionate Educators and Learners*/


#C {
  font-size: 10px;
  text-align: center;
  color: #282828;
  margin-bottom: 10px;
  margin-top: 10px;
}




/*////////////////////////////////////////*/
/*w3ncert.com*/
#D {
  font-size: 35px;
  text-align: center;
  color: #282828;
  margin-top: 10px;
}

